### Reading the csv file and analysing the data how it looks like and what are the important rows.

In [55]:
import pandas as pd
data=pd.read_csv("C:\\Users\\Ruchi Goyal\\Downloads\\Fraud.csv")
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

## Checking for the null or missing values

In [ ]:
data.isnull().sum()

In [ ]:
data.shape

## Since there is no null value in the data, thus missing values are there.

## Checking for mutlicollinearity

In [ ]:
data.corr()

## Through this we identified that
## 1. "oldbalanceOrg" and "newbalanceOrig" has strong coorelation and
## 2. "newbalanceDest" and "oldbalanceDest" has strong coorelation

### Now calculating VIF to check which column to drop

### from statsmodels.stats.outliers_influence import variation_inflation_factor
### from statsmodels.tools.tools import add_constant

In [ ]:
##Since we can combine these two columns thus adding a new columns which is 
##balanceOrg="newbalanceOrg"-"oldbalanceOrg" 
##balanceDest= "newbalanceDest" - "oldbalanceDest"

In [ ]:
data["balanceOrg"]=data["newbalanceOrig"]-data["oldbalanceOrg"] 
data["balanceDest"]=data["newbalanceDest"]-data["oldbalanceDest"] 
data.head()

In [ ]:
df=data.drop(["nameOrig","oldbalanceOrg","newbalanceOrig","nameDest","oldbalanceDest","newbalanceDest"],axis=1)
df.head()

In [ ]:
df.corr()

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

X = df[['amount', 'balanceDest']]

vif_data = pd.DataFrame()
vif_data["feature"] = X.columns

vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)

## Since the VIF < 5, thus there is no multicollinearity now in the data.

In [ ]:
##Now checking for outliers 
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(20,6))
sns.boxplot(data=df)
plt.xticks(rotation=45)
plt.show()

In [ ]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
outliers_iqr = ((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR)))
print("Number of outliers per column:")
print(outliers_iqr.sum())

We have outliers but since we are using random forest so it will automatically handle the outliers.

In [ ]:
x= df.drop(["isFraud","isFlaggedFraud"],axis=1)
y=df["isFraud"]

In [ ]:
x["type"].unique()

In [ ]:
x["type"]=x["type"].map({'PAYMENT':0, 'TRANSFER':1, 'CASH_OUT':2, 'DEBIT':3, 'CASH_IN':4})

In [ ]:
x.head()

In [ ]:
x.dtypes

In [ ]:
y.head()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.3,stratify=y)

In [ ]:
model = RandomForestClassifier(
    n_estimators=100,
    random_state=42
)

In [ ]:
model.fit(x_train,y_train)

In [ ]:
y_pred=model.predict(x_test)